﻿<div class="main-wrapper stretch">

    <div id="logo"></div>

    <button (click)="settingsButtonClick()" id="openSettingsButton" class="hovered">
        <img id="settingsBtnImage" class="svg" draggable="false" src="/dist/images/settings.svg" />
    </button>

    <div id="clockComponent">
        <app-clock></app-clock>
    </div>

</div>