﻿@import '../../../../Views/Shared/common-styles-component.scss';

.main-wrapper {
    display: grid;
    grid-template-rows: $panel-size auto $panel-size 30px;
    grid-gap: 8px;
    grid-template-columns: $panel-size;
    display: -ms-grid;
    -ms-grid-rows: $panel-size auto $panel-size 30px;
    -ms-grid-columns: $panel-size;
}

#logo {
    grid-row: 1;
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-image: url('/dist/images/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    -ms-grid-row: 1;
}

#openSettingsButton {
    grid-row: 3;
    width: 100%;
    height: 100%;
    border: hidden;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding: 6px;
    -ms-grid-row: 3;
}

#settingsBtnImage {
    width: 70%;
    height: 70%;
}

#clockComponent {
    grid-row: 4;
    width: 100%;
    height: 100%;
    -ms-grid-row: 4;
}

@media (max-width: $mobile-max-width), (max-height: $mobile-max-height) {
    .main-wrapper {
        grid-template-rows: $panel-size-mobile auto $panel-size-mobile 30px;
        grid-template-columns: $panel-size-mobile;
        -ms-grid-rows: $panel-size-mobile auto $panel-size-mobile 30px;
        -ms-grid-columns: $panel-size-mobile;
    }

    #openSettingsButton {
        width: 100%;
        height: 100%;
    }

    #settingsBtnImage {
        width: 100%;
        height: 100%;
    }
}

