﻿@import '../../../../../Views/Shared/common-styles-component.scss';

.grid-container {
    grid-template-columns: 80% 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 80% 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
}

.cellIndex0 {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
}

.cellIndex1 {
    grid-column: 2;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.cellIndex2 {
    grid-column: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

.cellIndex3 {
    grid-column: 2;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

.cellIndex4 {
    grid-column: 2;
    grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-row: 4;
}
