﻿@import '../../../../Views/Shared/common-styles-component.scss';

.stub {
   display: flex;
   flex-direction: column;
}

.stub-img-container {
    height: 80%;
    width: 80%;
    margin: auto;
    background-image: url(/dist/images/camera.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}

.stub-img {
    width: 90%;
    height: auto;
    display: block;
    opacity: 0.5;
    filter: alpha(opacity=50);
    min-height: 0px;
}

.stub-text {
    color: $whiteColor;
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 1vh;
    font-size: calc(0px + 3vmin);
}
