﻿<div class="grid-container">
    
    <div *ngFor="let cell of cells; let i = index" class="cell cellIndex{{cell.index}}">
        <app-grid-cell [gridCell]="cell" (onCellsSwap)="onCellsSwap($event)"></app-grid-cell>
    </div>
</div>