﻿@import '../../../../Views/Shared/common-styles-component.scss';

.tree-container {
    margin-left: -10px;
    padding-top: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 92vh;
}

@media (max-width: $mobile-max-width), (max-height: $mobile-max-height) {
    .tree-container {
        padding-top: 2px;
        margin-left: -4px;
    }

    @media screen and (orientation:portrait) {
        .tree-container {
            height: 87vh;
        }
    }

    @media screen and (orientation:landscape) {
        .tree-container {
            height: 77vh;
        }
    }
}

