﻿@import '../../../../Views/Shared/common-styles-component.scss';

.cell-name {
    color: $whiteColor;
}

.cell-info-place {
    z-index: 5;
    position: absolute;
    background-color: $viewerInfoBackground;
    text-align: center;
    top: 0px;
    left: 0px;
    padding: 6px;
}

.cell-video {
    width: 100%;
    height: 100%;
    position: relative;
}

.viewer-container {
    position: relative
}

.video-js {
    width: 100%;
    height: 100%;
    padding: 0;
}

.control-panel {
    width: 100%;
    height: $viewerControlsSize;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    position: absolute;
    bottom: 0px;
    background: $viewerControlsBackground;
    opacity: 0;
    transition: opacity 0.5s linear;
    display: -ms-grid;
    -ms-grid-columns: 1fr auto auto;
    -ms-grid-rows: auto;
}

.viewer-container:hover .control-panel {
    opacity: 1;
}

.quality-button {
    grid-column: 2;
    grid-row: 1;
    border: hidden;
    width: $viewerControlsSize;
    height: 100%;
    z-index: 3;
    margin-right: 10px;
    vertical-align: middle;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.full-screen-button {
    grid-column: 3;
    grid-row: 1;
    border: hidden;
    width: $viewerControlsSize;
    height: 100%;
    z-index: 3;
    margin-right: 10px;
    vertical-align: middle;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.quality-button-img {
    width: 70%;
    height: 70%;
}

.full-screen-button-img {
    width: 60%;
    height: 60%;
}

.quality-dropdown {
    display: none;
    position: absolute;
    background-color: $popupBackgroundColor;
    z-index: 10;
    font-size: small;
    border: solid 1px;
    border-color: $whiteColor;
    color: $whiteColor;
    bottom: $viewerControlsSize;
    right: 0;
}

.dropdown-active {
    background-color: $dominationColor;
}

.quality-dropdown button {
    padding: 2px 16px;
    text-decoration: none;
    border: hidden;
    display: block;
    width: 100%;
}

.popup-show {
    display: block;
}

@media (max-width: $mobile-max-width), (max-height: $mobile-max-height) {
    .quality-button-img {
        width: 80%;
        height: 80%;
    }

    .full-screen-button-img {
        width: 70%;
        height: 70%;
    }

    .quality-dropdown {
        bottom: $viewerControlsSize-mobile;
    }

    .full-screen-button {
        width: $viewerControlsSize-mobile;
    }

    .quality-button {
        width: $viewerControlsSize-mobile;
    }

    .control-panel {
        height: $viewerControlsSize-mobile;
    }
}