﻿<div class="viewer-container stretch">

    <video *ngIf="videoSource" id="{{videoContainerId}}"
           class="video-js vjs-default-skin cell-video vjs-big-play-centered vjs-16-9"
           preload="auto"
           autoplay
           nativeAudioTracks="false"
           nativeVideoTracks="false"
           nativeTextTracks="false"
           playsinline
           data-setup='{}'
           overrideNative="true">

        <source [src]="videoSource" type="application/x-mpegURL" />

    </video>

    <div class="cell-info-place">
        <div class="cell-name unselectable">{{channel.name}}</div>
    </div>

    <div class="control-panel">
        <button class="full-screen-button hovered" (click)="enterFullScreen()">
            <img class="full-screen-button-img svg" draggable="false" src="/dist/images/full-screen.svg" />
        </button>
        <button class="quality-button hovered popupbtn" (click)="showDropDown()">
            <img class="quality-button-img svg popupbtn" draggable="false" src="/dist/images/video-switch.svg" />
        </button>
    </div>
    
    <div id="quality-menu-{{videoContainerId}}" class="quality-dropdown popup">
        <button (click)="selectVideoStream(1)" class="hovered" [ngClass]="{'dropdown-active' : selectedVideoStream  == 1}">Низкое</button>
        <button (click)="selectVideoStream(2)" class="hovered" [ngClass]="{'dropdown-active' : selectedVideoStream  == 2}">Высокое</button>
        <button (click)="selectVideoStream(0)" class="hovered" [ngClass]="{'dropdown-active' : selectedVideoStream  == 0}">Авто</button>
    </div>

</div>