﻿@import '../../../../Views/Shared/common-styles-component.scss';

#time{
    text-align: center;
    color: $whiteColor;
    font-size: 8pt;
}

#date {
    text-align: center;
    color: $whiteColor;
    margin-top: -8px;
    font-size: 6pt;
}

@media (max-width: $mobile-max-width), (max-height: $mobile-max-height) {
    #time {
        font-size: 5pt;
    }

    #date {
        font-size: 4pt;
    }
}

