﻿<div class="gridCell stretch" [attr.draggable]="allowDrag ? true : null"  (dragover)="onDragOver($event)" (dragenter)="onDragOver($event)" (drop)="onDrop($event)" (dragstart)="canDrag($event)">
    <app-cell-stub *ngIf="gridCell.isEmpty()"></app-cell-stub>
    <app-video-viewer *ngIf="!gridCell.isEmpty()" [channel]="gridCell.channel"></app-video-viewer>
</div>