﻿<div id="grid-background">
    
    <div [ngSwitch]="selectedVideoGrid.gridType" class="stretch">
        <!--Grid1x1-->
        <div *ngSwitchCase="0" class="stretch">
            <app-grid1x1 [cells]="selectedVideoGrid.gridCells"></app-grid1x1>
        </div>
        <!--Grid2x2-->
        <div *ngSwitchCase="1" class="stretch">
            <app-grid2x2 [cells]="selectedVideoGrid.gridCells"></app-grid2x2>
        </div>
        <!--Grid5-->
        <div *ngSwitchCase="2" class="stretch">
            <app-grid5 [cells]="selectedVideoGrid.gridCells"></app-grid5>
        </div>
        <!--Grid6-->
        <div *ngSwitchCase="3" class="stretch">
            <app-grid6 [cells]="selectedVideoGrid.gridCells"></app-grid6>
        </div>
        <!--Grid3x3-->
        <div *ngSwitchCase="4" class="stretch">
            <app-grid3x3 [cells]="selectedVideoGrid.gridCells"></app-grid3x3>
        </div>
        <!--Grid4x4-->
        <div *ngSwitchCase="5" class="stretch">
            <app-grid4x4 [cells]="selectedVideoGrid.gridCells"></app-grid4x4>
        </div>
        <div *ngSwitchDefault class="stretch">
            UnknownGrid
        </div>
    </div>

</div>