<div class="main-wrapper stretch">
    <div class="left-panel">
        <app-left-panel (onSettingsButtonClick)="onLeftPanelSettingsButtonClick()"></app-left-panel>
    </div>
    <div class="top-panel">
        <app-top-panel (onSettingsButtonClick)="onTopPanelSettingsButtonClick()"></app-top-panel>
    </div>
    
    <div class="widget-content">
        <div class="video-grid">
            <app-video-grid></app-video-grid>
        </div>
        <div class="channels-tree" [style.display]="isGridEditMode==true?'block':'none'">
            <app-channels-tree></app-channels-tree>
        </div>
    </div>
    
        <div id="settingsWindow" class="modal" [style.display]="isSettingsWindowShowed==true?'block':'none'">
        <app-settings-window (onClose)="onCloseSettingsWindow()"></app-settings-window>
    </div>

</div>