﻿@import '../../../../Views/Shared/common-styles-component.scss';

.main-wrapper {
    display: grid;
    display: -ms-grid;
    grid-template-columns: $panel-size 1fr $channels-tree-width;
    -ms-grid-columns: $panel-size 1fr $channels-tree-width;
    grid-template-rows: $panel-size 1fr;
    -ms-grid-rows:  $panel-size 1fr
}

.left-panel {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    background-color: $panelColor;
}

.top-panel {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
}

.widget-content {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    display: flex;
    width: 100%;
    height: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    -ms-grid-row: 2;
}

.channels-tree {
    float: right;
    width: $channels-tree-width;
    background-color: $backgoundColor;
    border-left: 4px solid white;
    height: 100%;
}

.video-grid {
    width: 100%;
    height: 100%;
}

/* The Modal (background) */
.modal {
    //display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


@media (max-width: $mobile-max-width), (max-height: $mobile-max-height) {
    .main-wrapper {
        grid-template-columns: $panel-size-mobile 1fr $channels-tree-width-mobile;
        -ms-grid-columns: $panel-size-mobile 1fr $channels-tree-width-mobile;
        grid-template-rows: $panel-size-mobile 1fr;
        -ms-grid-rows: $panel-size-mobile 1fr
    }

    .channels-tree {
        width: $channels-tree-width-mobile;
        border-left: 2px solid white;
    }
}
