﻿@import '../../../../Views/Shared/common-styles-component.scss';

.treenodes {
    padding-inline-start: 0px;
    padding-left: 16px;
    padding-top: 0px;
}

tree-view .treenodes {
    list-style-type: none;
    padding-left: 100px;
}

tree-view tree-view .treenodes {
    list-style-type: none;
    padding-left: 6px;
}

.nodebutton {
    cursor: pointer;
    border: hidden;
    width: 16px;
    height: 16px;
    background-color: transparent;
}

tree-view .nodetext {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}

.empty{
    visibility: hidden;
}

.expanded {
    transform: rotate(45deg);
}

.treenode {
    color: transparent;
}

.node-icon-wrapper {
    display: inline;
    cursor: pointer;
}

.node-icon{
    width: 28px;
    height: 28px;
}

.br-icon{
    width: 20px;
    height: 20px;
    margin-left: -6px;
}

.nodetext {
    cursor: pointer;
    vertical-align: bottom;
}

@media (max-width: $mobile-max-width), (max-height: $mobile-max-height) {

    .nodetext {
        cursor: pointer;
        vertical-align: baseline;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        margin-left: -2px;
        font-size: 12px;
    }

    .tree-line {
        margin: 0px;
        padding: 0px;
    }

    .treenode {
        color: transparent;
        margin: 0px;
        padding: 0px;
    }

    .treenodes {
        padding-left: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0px;
        line-height: 100%;
    }

    .nodebutton {
        width: 18px;
        height: 22px;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .br-icon {
        width: 22px;
        height: 22px;
        margin: auto;
        margin-right: 0px;
        margin-left: 0px;
    }

    .node-icon {
        width: 28px;
        height: 28px;
        padding: 0px;
        margin: 0px;
    }

    .node-icon-wrapper {
        margin-left: -2px;
        margin-right: 0px;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

