﻿<ul class="treenodes">
    <li *ngFor="let node of nodes; let i = index" class="treenode">
        <div class="tree-line stretch" [attr.draggable]="allowDrag ? true : null" (dragstart)="canDragNode($event, node)">
            <button class="nodebutton {{node.children.length < 1 ? 'empty' : ''}}" (click)="onExpand(node)">
                <img class="br-icon {{node.isExpanded ? 'expanded' : ''}}"
                     src="/dist/images/br.svg"
                     draggable="false" />
            </button>
            <div class="node-icon-wrapper" (dblclick)="onExpand(node)">
                <img class="node-icon" *ngIf="iconExist(node)" [src]="node.pathToIcon" draggable="false" />
            </div>

            <span class="nodetext unselectable" (dblclick)="onExpand(node)">
                {{node.name}}
            </span>
        </div>

        <app-treeview [nodes]="node.children" [currentNode]="node" *ngIf="node.isExpanded">
        </app-treeview>
    </li>
</ul>
