﻿@import '../../../../../Views/Shared/common-styles-component.scss';

.grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    -ms-grid-columns: 100%;
    -ms-grid-rows: 100%;
}

.cellIndex0 {
    grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
