@{
    ViewData["Title"] = "Home Page";
}

<app asp-prerender-module="ClientApp/dist/main-server">
    Loading...
    @*<div class="splash-screen">
            <img src="~/dist/splashscreen.png" width="450" height="300" class="splash-screen-img">
        </div>*@
</app>

@*<div class="loading">
        <h1>~$ bootstrapping firestarter...</h1>
    </div>*@

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    @*<script>
        var player = videojs('my_video_1');
        player.play();
    </script>*@
    <script src="~/dist/scripts/common-scripts.js"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
