﻿@import '../../../../Views/Shared/common-styles-component.scss';

.main-wrapper {
    display: grid;
    grid-template-columns: auto $panel-size;
    grid-gap: 8px;
    grid-template-rows: auto;
    display: -ms-grid;
    -ms-grid-columns: auto $panel-size;
    -ms-grid-rows: auto;
    background-color: $backgoundColor;
}

#grid-view-panel {
    grid-column: 0;
    grid-row: 0;
    margin: auto;
    -ms-grid-column: 0;
    -ms-grid-row: 0;
}

.videoPanelIcon {
    width: 90%;
    height: 90%;
}

.videoButton {
    border: hidden;
    display: inline-block;
    position: relative;
    padding: 6px;
    width: $panel-size - 5px;
    height: $panel-size - 5px;
}

.selectedVideoButton{
    background-color: $dominationColor;
}

#openSettingsButton {
    grid-column: 2;
    width: 70%;
    height: 70%;
    border: hidden;
    margin: auto;
    padding: 6px;
    display: inline-block;
    position: relative;
    -ms-grid-column: 2;
}

@media (max-width : $mobile-max-width), (max-height: $mobile-max-height) {
    #openSettingsButton {
        width: 100%;
        height: 100%;
    }

    .main-wrapper {
        grid-template-columns: auto $panel-size-mobile;
        -ms-grid-columns: auto $panel-size-mobile;
    }

    .videoButton {
        width: $panel-size-mobile;
        height: $panel-size-mobile;
    }
}

    #settingsBtnImage {
        width: 90%;
        height: 90%;
        margin: auto;
    }
