﻿<div class="main-wrapper stretch">
    
    <div id="grid-view-panel" >
        <button *ngFor="let videoGrid of allVideoGrids; let i = index" class="videoButton hovered" [ngClass]="{selectedVideoButton:isVideoGridSelected(videoGrid)}" (click)="selectVideoGrid(videoGrid)">
            <img class="videoPanelIcon svg" [src]="videoGrid.iconPath" />
        </button>
    </div>

    <button (click)="settingsButtonClick()" id="openSettingsButton" class="hovered">
        <img id="settingsBtnImage" class="svg" draggable="false" src="/dist/images/edit-mode.svg" />
    </button>

</div>