﻿@import '../../../../../Views/Shared/common-styles-component.scss';

.grid-container {
    grid-template-columns: 25% 25% 25% 1fr;
    grid-template-rows: 25% 25% 25% 1fr;
    -ms-grid-columns: 25% 25% 25% 1fr;
    -ms-grid-rows: 25% 25% 25% 1fr;
}

.cellIndex0 {
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.cellIndex1 {
    grid-column: 2;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.cellIndex2 {
    grid-column: 3;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.cellIndex3 {
    grid-column: 4;
    grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-row: 1;
}

.cellIndex4 {
    grid-column: 1;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.cellIndex5 {
    grid-column: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

.cellIndex6 {
    grid-column: 3;
    grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-row: 2;
}

.cellIndex7 {
    grid-column: 4;
    grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-row: 2;
}

.cellIndex8 {
    grid-column: 1;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.cellIndex9 {
    grid-column: 2;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

.cellIndex10 {
    grid-column: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}

.cellIndex11 {
    grid-column: 4;
    grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-row: 3;
}

.cellIndex12 {
    grid-column: 1;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}

.cellIndex13 {
    grid-column: 2;
    grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-row: 4;
}

.cellIndex14 {
    grid-column: 3;
    grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-row: 4;
}

.cellIndex15 {
    grid-column: 4;
    grid-row: 4;
    -ms-grid-column: 4;
    -ms-grid-row: 4;
}
