﻿@import '../../../../../Views/Shared/common-styles-component.scss';

.grid-container {
    grid-template-columns: 33.3% 33.3% 1fr;
    grid-template-rows: 33.3% 33.3% 1fr;
    -ms-grid-columns: 33.3% 33.3% 1fr;
    -ms-grid-rows: 33.3% 33.3% 1fr;
}

.cellIndex0 {
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.cellIndex1 {
    grid-column: 2;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.cellIndex2 {
    grid-column: 3;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.cellIndex3 {
    grid-column: 1;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.cellIndex4 {
    grid-column: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

.cellIndex5 {
    grid-column: 3;
    grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-row: 2;
}

.cellIndex6 {
    grid-column: 1;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.cellIndex7 {
    grid-column: 2;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

.cellIndex8 {
    grid-column: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}
