﻿<!DOCTYPE html>
<html style="width: 100%; height: 100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <title>@ViewData["Title"] - WebServer</title>
    <base href="~/" />

    @*<link href="https://vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet">
        <script src="https://vjs.zencdn.net/5.11/video.min.js"></script>
        <script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>
        <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>*@

    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
    
    @*<script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>*@

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/common-styles.css" />

</head>
<body class="stretch">

@*<video-js id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="268">
    <source src="https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8" type="application/x-mpegURL">
</video-js>*@

@RenderBody()

@RenderSection("scripts", required: false)
</body>
</html>
