﻿//***constants:
$panel-size: 50px;
$channels-tree-width: 350px;
$tree-font-size: 18px;

$panel-size-mobile: 30px;
$channels-tree-width-mobile: 160px;
$tree-font-size-mobile: 8px;

$mobile-max-width: 640px;
$mobile-max-height: 480px;

//***colors:
$dominationColor: #3a8cf0;
$backgoundColor: #252525;
$panelColor: #454545;
$whiteColor: #ffffff;
$gridBackground: #3881db;
$hoverColor: rgba(255, 255, 255, 0.3);

$viewerInfoBackground: rgba(0, 0, 0, 0.5);
$viewerControlsBackground: rgba(0, 0, 0, 0.5); // for old browsers
$viewerControlsBackground: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
$viewerControlsSize: 40px;
$viewerControlsSize-mobile: 40px;


$popupBackgroundColor: rgba(0,0,0,0.8);

.hovered{
    background-color: transparent;
}

.hovered:hover {
    background-color: $hoverColor
}

.grid-container {
    display: grid;
    display: -ms-grid;
    grid-gap: 2px;
    width: 100%;
    height: 100%;
}

.cell {
    background-color: $backgoundColor;
    width: 100%;
    height: 100%;
}

.nodetext {
    color: $whiteColor;
    font-size: $tree-font-size;
    text-overflow: ellipsis;
}

@media (max-width: $mobile-max-width), (max-height: $mobile-max-height) {
    .nodetext {
        font-size: $tree-font-size-mobile;
    }
}

button {
    outline: none;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

.popup-show {
    display: block;
}

