﻿@import '../../../../../Views/Shared/common-styles-component.scss';

.grid-container {
    grid-template-columns: 50% 1fr;
    grid-template-rows: 50% 1fr;
    -ms-grid-columns: 50% 1fr;
    -ms-grid-rows: 50% 1fr;
}

.cellIndex0 {
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.cellIndex1 {
    grid-column: 2;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.cellIndex2 {
    grid-column: 1;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.cellIndex3 {
    grid-column: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}
